[submodule "Seminarios_ISGI_2021"]
	path = Seminarios_ISGI_2021
	url = https://github.com/RobVivo/Seminarios_ISGI_2021
[submodule ".\\Seminarios_ISGI_2021\\"]
	path = .\\Seminarios_ISGI_2021\\
	url = https://github.com/RobVivo/Seminarios_ISGI_2021
